.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    max-width: 100%;
    height: 120px;
    margin: 10px;
    cursor: pointer;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #f00;
}

dialog {
    position: fixed;
    top: 50px;
    left: 20px;
    margin: 0;
    padding: 20px !important;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}